body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}
