/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Sfondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    transition: background 2s ease-in-out; /* Transizione per lo sfondo */
}

body.noidue {
    background: url('noidue.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo trasparente */
    margin: 50px auto;
    border-radius: 15px;
    max-width: 600px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffcc00; /* Colore dorato per un tocco speciale */
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

a {
    display: block;
    text-decoration: none;
    color: #00bfff;
    font-size: 1.2em;
    margin: 10px 0;
    transition: color 0.3s;
}

a:hover {
    color: #ffcc00; /* Dorato al passaggio del mouse */
}
